$font-path: '../fonts/';

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;
    src: url($font-path + 'proximanova-regular.woff2') format('woff2'),
         url($font-path + 'proximanova-regular.woff') format('woff'),
         url($font-path + 'proximanova-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;
    src: url($font-path + 'proximanova-semibold.woff2') format('woff2'),
         url($font-path + 'proximanova-semibold.woff') format('woff'),
         url($font-path + 'proximanova-semibold.ttf') format('truetype');
}

/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(https://fonts.gstatic.com/s/satisfy/v6/0EcI1zXfvSXoNHQChcRmRwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.font-satisfy { font-family: $font-satisfy; }
