$color-orange: #F8B000;
$color-yellow: #FAC74C;

$color-blue: #6EC8E5; // border
$color-blue-light: #6CCFF6; // business
$color-blue-lightest: #E7F1F5;
$color-blue-dark: #3888C5; // btn & link

$color-green: #B3CF01;

$font-proxima: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
